.book-card{
    width:340px;
    height:160px;
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 12px 0px;
    border-bottom: 4px solid lightgrey;
    border-right: 4px solid lightgrey;
/*    box-shadow: 0px 40px 20px 0px rgba(0,0,0,0.40);*/
}

.topContainer{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.image{
    width:90px;
    object-fit: contain;
    margin-left:20px;
}
.textContainer{
    display: flex;
    flex-direction: column;
    margin-right:120px;
    margin-top:50px;
}


.name{
    position: absolute;
    font-size:26px;
    font-weight: 800;
}
.title{
    position: absolute;
    font-size:24px;
    font-weight: 700;
    height:40px;
    top:50%;
}
.spec{
    position:absolute;
    margin-top: 32px;
    font-size:20px;
    color: dimgrey;
    font-weight: 700;
}

.bottomTextContainer{
    display: flex;
    margin:10px 0px;
}

.bottomContainer{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin-bottom: 14px;
}

.btn{
    background-color: blueviolet;
    margin-top: 55%;
    padding:8px 30px 8px 30px;
    border-radius: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    font-weight: bold;
}